// Components
@import "../node_modules/material-design-lite/src/button/button";
@import "../node_modules/material-design-lite/src/card/card";
@import "../node_modules/material-design-lite/src/checkbox/checkbox";
/* Fix for non-default image-path value in MDL */
$checkbox-image_path: '/static/lib/material-design-lite/src/images';
.mdl-checkbox__tick-outline {
  mask: unquote(url("#{$checkbox-image-path}/tick-mask.svg?embed"));
  .mdl-checkbox.is-checked & {
    background: $checkbox-color url("#{$checkbox-image-path}/tick.svg?embed");
  }
  .mdl-checkbox.is-checked.is-disabled & {
    background: $checkbox-disabled-color url("#{$checkbox-image-path}/tick.svg?embed");
  }
}
@import "../node_modules/material-design-lite/src/menu/menu";
@import "../node_modules/material-design-lite/src/shadow/shadow";
@import "../node_modules/material-design-lite/src/ripple/ripple";
@import "../node_modules/material-design-lite/src/textfield/textfield";
