body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;

  .container {
    flex: 1 1 auto;
    display: flex;
  }
  .sidebar {
    flex: 0 0 160px;
    background-color: rgb(50,50,50);
  }
}
