body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  margin: 0;

  .container {
    flex: 1 1 auto;
    display: flex;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
  }
  a {
    &:hover {
      color: unquote("rgb(#{$color-primary})");
    }
  }
}
