.main-menu {
  flex: 0 0 36px;
  padding: 14px;

  button {
    min-width: 36px;
    min-height: 36px;
    border-radius: 36px;
  }
  a {
    text-decoration: none;
  }
  .fa-ellipsis-vertical {
    &:before {
      position: absolute;
      content: "";
      background: url('menu.svg');
      background-size: cover;
      width: 32px;
      height: 32px;
      top: 2px;
      left: 2px;
    }
  }
}
