@import '../../style/variables';

.actions-panel {
  position: relative;

  .small & .mdl-button {
    min-width: 0;
    height: auto;
  }

  .group > span {
    display: block;
    padding: 8px 16px;
    background-color: rgb(42, 42, 42);
    text-align: initial;
    font-size: 16px;
    text-transform: capitalize;
    color: unquote("rgb(#{$color-primary})");
    
    &.collapsed {
      background-color: #5D5D5D;
    }
    .small & {
      padding: 6px 0;
      text-align: center;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li.action {
      display: block;
      padding: 8px;
      list-style-type: none;
      text-align: initial;
      text-transform: none;
      color: rgb(89, 89, 95);
      border-bottom: 1px solid;
      border-color: unquote("rgb(#{$color-text})");
      transition: ease all 1s;
      &:not(.enabled):hover {
        background-color: initial;
      }

      &.enabled {
        color: rgb(255,255,255);
      }
      .small & {
        padding: 0;
        min-height: 48px;
      }
      i {
        padding: 0 8px;
        .small & {
          display: inline-block;
          width: 48px;
          height: 48px;
          padding: 0px;
          text-align: center;
          &:before {
            font-size: 24px;
            line-height: 48px;
          }
        }
      }
      .label {
        .small & {
          display: none;
        }
      }
      &.attention.enabled:hover {
        background-color: red;
      }
    }
  }
}
