.view.graph {
  flex: 3 1 300px;
  height: 100%;

  .node {
    stroke: #fff;
    stroke-width: 1.5px;
    
    circle {
      fill: rgba(188, 228, 255, 0.5);
    }
    &.selected circle {
      fill: rgb(188, 228, 255);
    }
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }
  text {
    stroke: black;
  }
}
