.view.graph {
  position: relative;
  box-sizing: border-box;
  flex: 3 1 320px;
  overflow: hidden;

  svg {
    background-color: #F1F2F7;
    pointer-events: none;
  }
  .nodeGroup {
    position: absolute;
    top: 0;
  }
  .node {
    position: absolute;
    font-size: 12px;
    cursor: auto;
    transition: opacity 750ms ease-in;
    &:hover {
      text-decoration: underline;

      .circle {
        border-width: 2px;
      }
    }
    &.hide {
      opacity: 0;
    }
    
    .circle {
      background: rgb(215, 236, 251);
      border: solid #498AE6;
      border-radius: 50%;
      border-width: 1px;
    }
    .text {
      transform: matrix(1,0,0,1,40,-40);
    }
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
    transition: opacity 750ms ease-in;

    &.hide {
      opacity: 0;
    }
  }
}
.view.graph.min {
  flex: 0.000000001 0.00000001 0%;
}
.view.graph.max {
  flex: 3 1 320px;
}
