.view.graph {
  flex: 3 1 320px;
  overflow: hidden;
  border: 1px solid black;

  svg {
    background-color: #F1F2F7;
  }
  .node {
    font-size: 12px;
    cursor: auto;
    transition: opacity 750ms ease-in;
    &:hover {
      text-decoration: underline;

      circle {
        stroke-width: 2px;
      }
    }
    &.hide {
      opacity: 0;
    }
    
    circle {
      fill: rgb(215, 236, 251);
      stroke: #498AE6;
    }

  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
    transition: opacity 750ms ease-in;

    &.hide {
      opacity: 0;
    }
  }
  text {
  }
}
.view.graph.min {
  flex: 0.000000001 0.00000001 0%;
}
.view.graph.max {
  flex: 3 1 320px;
}
