.view.graph {
  .behavior.drag {
    .node {
      // draggable node
      cursor: grab;
      cursor: -webkit-grab;
      cursor: -moz-grab;

      &.dragging {
        display: none;
        z-index: 3;
        pointer-events: none;


        .circle {
          background: rgba(0, 0, 0, 0.5) !important;
        }
      }
    }
    &.in-progress, &.in-progress .node {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;

      &.dropTarget {
        cursor: alias;

        circle {
          stroke: #222;
        }
      }
    }
  }
}
