.view.list {
  flex: 0 0 173px;
  margin: 0;
  padding: 0;
  border: 1px solid grey;

  .items-list {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 8px;

    &.selected {
      background-color: rgb(137, 255, 137);
    }
  }
}
