.view.list {
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  overflow: hidden;
  h4 {
    padding: 5px;
    margin: 0;
  }
  .items-list {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 8px;
    &:nth-child(even) {
      background-color: #e2e2e2;
    }

    &.selected {
      background-color: rgb(137, 255, 137);
    }
  }
}
