.behavior.drag {
  .node.selected {
    .circle {
      border-color: #006AFF;
      border-width: 2px;
      background: rgb(188, 228, 255);
    }

    &:hover {
      .circle {
        border-width: 3px;
        background: #A5D9FD;
      }
    }
  }
}
