.actions-panel {
  position: relative;

  .small & .mdl-button {
    min-width: 0;
  }

  .group > span {
    display: block;
    padding: 8px 16px;
    background-color: rgb(42, 42, 42);
    text-align: initial;
    font-size: 16px;
    text-transform: capitalize;
    color: unquote("rgb(#{$color-primary})");
    
    &.collapsed {
      background-color: #5D5D5D;
    }
    .small & {
      padding: 8px 0;
      text-align: center;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li.action {
      display: block;
      padding: 8px;
      list-style-type: none;
      text-align: initial;
      text-transform: none;
      color: rgb(89, 89, 95);
      border-bottom: 1px solid;
      border-color: unquote("rgb(#{$color-text})");
      transition: ease all 1s;
      &:not(.enabled):hover {
        background-color: initial;
      }

      &.enabled {
        color: rgb(255,255,255);
      }
      i {
        padding: 0 8px;
        .small & {
          padding: 12px;
        }
      }
      .label {
        .small & {
          display: none;
        }
      }
      &[data-id="itemRemove"].enabled:hover {
        background-color: red;
      }
    }
  }
}
