.actions-panel {
  position: relative;

  .group span {
    display: block;
    padding: 8px 16px;
    background-color: rgb(42, 42, 42);
    text-align: initial;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(148, 136, 221);
    
    &.collapsed {
      background-color: #5D5D5D;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 8px;
      list-style-type: none;
      text-align: initial;
      text-transform: none;
      color: rgb(118,118,118);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      transition: ease all 1s;
      &:not(.enabled):hover {
        background-color: initial;
      }

      &.enabled {
        color: rgb(255,255,255);
      }
      i {
        padding: 0 8px;
      }
    }
  }
}
