.search-bar {
  flex: 1 1 auto;


  .mdl-textfield {
    width: 75%;
    margin-left: 24px;
    padding: 16px 0;
    .mdl-textfield__label:after {
      bottom: 16px;
    }
  }
  &>input[name="ignoreCase"], &>label {
    display: none;
  }
  #tags, #value {
    width: 75%;
  }
}
