.view.graph {
  position: relative;
  box-sizing: border-box;
  flex: 3 1 320px;
  overflow: hidden;
  border: 1px solid black;
  background-color: #F1F2F7;

  svg {
    pointer-events: none;
  }
  .nodeGroup {
    position: absolute;
    top: 0;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
    transition: opacity 750ms ease-in;

    &.hide {
      opacity: 0;
    }
  }
  .behavior.drag {
    &.in-progress, &.in-progress .node {
      &.dropTarget {
        circle {
          stroke: #222;
        }
      }
    }
  }

  .behavior.selectioning {
    .node.selected{
      .circle{
        border-color: #006AFF;
        border-width: 2px;
        background-color: rgb(188, 228, 255);
      }
    }
    &:hover {
      circle {
        border-width: 3px;
        background-color: #A5D9FD;
      }
    }
  }
}
.view.graph.min {
  flex: 0.000000001 0.00000001 0%;
}
.view.graph.max {
  flex: 3 1 320px;
}

